# .DS_Store
# .gitignore
# node_modules
# public
# prof
# tsconfig.tsbuildinfo
# .obsidian
# .quartz-cache
# private/
# .replit
# replit.nix

# Ignore everything
*

# But not these files...
!public/
# etc...

# ...even if they are in subdirectories
!*/
